In [1]:
#imports
import pandas as pd
import sys
import os
import time
import matplotlib.pyplot as plt

In [2]:
dfaffirm = input("what csv do you want? 1: Titanic.csv")
if dfaffirm == '1':
    df = pd.read_csv('Titanic.csv')
    print("Titanic.csv imported successfully")
Columns = df.columns

what csv do you want? 1: estonia.csv1
Titanic.csv imported successfully

In [3]:
print("columns:",list(Columns))
req=input('input')
if req=='6':
    sample = int(input("which sample/index?"))
    sampleref = sample-1
    specs=df.loc[sampleref]
    print(specs)
    time.sleep(2)

columns: ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
input

In [4]:
df.loc[5,'Age']=25
print(df.loc[5])

PassengerId                   6
Survived                      0
Pclass                        3
Name           Moran, Mr. James
Sex                        male
Age                        25.0
SibSp                         0
Parch                         0
Ticket                   330877
Fare                     8.4583
Cabin                       NaN
Embarked                      Q
Name: 5, dtype: object

In [5]:

count=0
for person in df['Age']:
    if person > 18:
        count=count+1

count

576

In [6]:
count = (df['Age'] > 18).sum()
count

576

In [7]:
male=df['Sex']=='male'
print(male.sum())
tot=len(df)
print(tot)
print(f"{(male.sum()/tot)*100}%")

577
891
64.75869809203144%

In [8]:
print(f"3: {sum(df['Pclass']==3)}")
print(f"2: {sum(df['Pclass']==2)}")
print(f"1: {sum(df['Pclass']==1)}")

3: 491
2: 184
1: 216

In [9]:
print(f"S: {sum(df['Embarked']=='S')}")
print(f"C: {sum(df['Embarked']=='C')}")
print(f"Q: {sum(df['Embarked']=='Q')}")
S=sum(df['Embarked']=='S')
C=sum(df['Embarked']=='C')
Q=sum(df['Embarked']=='Q')
t=len(df)
print(S)
print(C)
print(Q)
print(t)
print(f"S= {S/t*100}%")
print(f"C= {C/t*100}%")
print(f"Q= {Q/t*100}%")

S: 644
C: 168
Q: 77
644
168
77
891
S= 72.27833894500561%
C= 18.855218855218855%
Q= 8.641975308641975%

In [10]:
classes={"Class":[], "Frequency":[]}
c1=0
c2=0
c3=0
for ticket1 in df['Pclass']:
    if ticket1==1:
        c1+=1
    elif ticket1==2:
        c2+=1
    elif ticket1==3:
        c3+=1
classes["Class"].append("first")
classes["Class"].append("second")
classes["Class"].append("third")
classes["Frequency"].append(c1)
classes["Frequency"].append(c2)
classes["Frequency"].append(c3)

print(c1)
print(c2)
print(c3)
print(classes)

freq=pd.DataFrame(classes)
print(freq)

216
184
491
{'Class': ['first', 'second', 'third'], 'Frequency': [216, 184, 491]}
    Class  Frequency
0   first        216
1  second        184
2   third        491

In [17]:
po={"Port":[], "Frequency":[]}
p1=0
p2=0
p3=0
p4=0
for p in df['Embarked']:
    if p=='S':
        p1+=1
    elif p=='C':
        p2+=1
    elif p=='Q':
        p3+=1
    else:
        p4+=1
tot=len(df)
po["Port"].append("S")
po["Port"].append("C")
po["Port"].append("Q")
po["Port"].append("Unknown")
po["Frequency"].append((p1/tot)*100)
po["Frequency"].append((p2/tot)*100)
po["Frequency"].append((p3/tot)*100)
po["Frequency"].append((p4/tot)*100)

print(p1)
print(p2)
print(p3)
print(p4)

freq=pd.DataFrame(po)
print(freq)

644
168
77
2
      Port  Frequency
0        S  72.278339
1        C  18.855219
2        Q   8.641975
3  Unknown   0.224467

In [19]:
print(df.loc[527])

PassengerId                   528
Survived                        0
Pclass                          1
Name           Farthing, Mr. John
Sex                          male
Age                           NaN
SibSp                           0
Parch                           0
Ticket                   PC 17483
Fare                     221.7792
Cabin                         C95
Embarked                        S
Name: 527, dtype: object

In [25]:
sr=0
for person in df["Name"]:
    if "Fannie" in person:
        break
    sr+=1
df.loc[sr]

PassengerId                              707
Survived                                   1
Pclass                                     2
Name           Kelly, Mrs. Florence "Fannie"
Sex                                   female
Age                                     45.0
SibSp                                      0
Parch                                      0
Ticket                                223596
Fare                                    13.5
Cabin                                    NaN
Embarked                                   S
Name: 706, dtype: object