In [1]:
#imports
import pandas as pd
import sys
import os
import time
import matplotlib.pyplot as plt

In [2]:
dfaffirm = input("what csv do you want? 1: Titanic.csv")
if dfaffirm == '1':
    df = pd.read_csv('Titanic.csv')
    print("Titanic.csv imported successfully")
Columns = df.columns

what csv do you want? 1: Titanic.csv1
Titanic.csv imported successfully

In [7]:
print("columns:",list(Columns))
req=input('input')
if req=='6':
    sample = int(input("which sample/index?"))
    sampleref = sample-1
    specs=df.loc[sampleref]
    print(specs)
    time.sleep(2)

columns: ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
input6
which sample/index?6
PassengerId                   6
Survived                      0
Pclass                        3
Name           Moran, Mr. James
Sex                        male
Age                        20.0
SibSp                         0
Parch                         0
Ticket                   330877
Fare                     8.4583
Cabin                       NaN
Embarked                      Q
Name: 5, dtype: object

In [33]:
df.loc[5,'Age']=25
print(df.loc[5])

PassengerId                   6
Survived                      0
Pclass                        3
Name           Moran, Mr. James
Sex                        male
Age                        25.0
SibSp                         0
Parch                         0
Ticket                   330877
Fare                     8.4583
Cabin                       NaN
Embarked                      Q
(5, Age)                     25
Name: 5, dtype: object

In [46]:

count=0
for person in df['Age']:
    if person > 18:
        count=count+1

count

576

In [47]:
count = (df['Age'] > 18).sum()
count

576

In [55]:
male=df['Sex']=='male'
print(male.sum())
tot=len(df)
print(tot)
print(f"{(male.sum()/tot)*100}%")

577
891
64.75869809203144%