In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import random
from tqdm import tqdm

Write the Python program you would need to scrape the following web page for the number of wins earned by each team listed in the table. Your program should ultimately produce a dataframe of this data by the time it is done executing. https://www.scrapethissite.com/pages/forms/

In [26]:
hockey={'team': [], 'wins': [], 'year':[]}
for i in range(1,24):
    url=f'https://www.scrapethissite.com/pages/forms/?page_num={i}'
    response=requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    teams = soup.find_all('tr', class_='team')
    for team in teams:
        teamname=team.find('td', class_='name').text.strip()
        wins=team.find('td', class_='wins').text.strip()
        year=team.find('td', class_='year').text.strip()
        hockey['team'].append(teamname)
        hockey['wins'].append(wins)
        hockey['year'].append(year)
        
df=pd.DataFrame(hockey)

In [27]:
df

                    team wins  year
0          Boston Bruins   44  1990
1         Buffalo Sabres   31  1990
2         Calgary Flames   46  1990
3     Chicago Blackhawks   49  1990
4      Detroit Red Wings   34  1990
..                   ...  ...   ...
570     New York Rangers   51  2011
571      Ottawa Senators   41  2011
572  Philadelphia Flyers   47  2011
573      Phoenix Coyotes   42  2011
574  Pittsburgh Penguins   51  2011

[575 rows x 3 columns]

In [41]:
results=0
with tqdm(total=5000000, desc="Processing...") as pbar:
    for i in range(5000000):
        yearselected=[]
        tmp=0
        for i in range(3):
            teamc = random.choice(range(len(hockey['team'])))
            team = hockey['team'][teamc]
            year = hockey['year'][teamc]
            wins = hockey['wins'][teamc]
            if year not in yearselected:
                yearselected.append(year)
                if int(wins) > 30:
                    tmp += 1
            if tmp==3:
                results+=1
        pbar.update(1)
fin=results/5000000
print(fin)

Processing...: 100%|██████████| 5000000/5000000 [00:23<00:00, 211843.34it/s]

0.378708